body{
    background-color: #c2cade;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #000000;
}

h1, h2, h3, h4{
    font-family: 'Merriweather', serif;
    line-height: 1.4;
}

h1{
    font-size: 2.75 em;
    font-weight: 500;
}

h2{
    font-size: 2.25 em;
    font-weight: 600;
}

h3{
    font-size: 1.75 em;
    font-weight: 600;
}

h4{
    font-size: 1.35 em;
    font-weight: 600;
}

img{
    width: 100%;
}

a:focus {
    outline: 2px solid black;
}

.button {
    display: inline-block;
    background-color: #5caff9;
    color: black;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px solid #237DBE;
}

